/* Styling for about.pug */
section
{
    padding: 0px 20px;
}

.content h4
{
    font-family: "Inter";
    font-size: 1.7rem;
    font-weight: 600;
}

aside
{
    display: inline-block;
}

#info-holder
{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    gap: 63px;
}

#information
{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 35px;
}

.content
{
    display: flex;
    flex-direction: row;
    position: relative;
}

.content p
{
    position: absolute;
    left: 209px;
    font-family: 'Roboto';
    font-size: 1.7rem;
}

#edu-content h5
{
    margin-left: 75px;
    font-family: "Inter";
    font-size: 1.5rem;
    font-weight: 600;
    
}

#edu-content 
{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.edu-content-container
{
    display: flex;
    flex-direction: row;
}

.edu-content-container p
{
    left: 373px;
}


@media (min-width: 412px)
{
    .edu-content-container
    {
        margin-bottom: 24px;
    }
}