/* Styling for appointment.pug */

:root
{
    --background: #FFFFFF;
    --primary: #00171F;
    --secondary: #00A7E1;
    --secondaryTxt: #003459;
    --text: #000000;
}

form
{
    margin: 100px 200px;
    font-family: "Roboto", sans-serif;
}

form input
{
    width: 100%;
    padding: 20px 10px;
    border: 2px solid var(--secondaryTxt);
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
    height: 55px;
    font-weight: bolder;
    font-family: inherit;
    font-size: 16px;
    transition: border-color 0.2s ease;
}

span
{
    color: red;
}

form input[type="date"]
{
    color: grey;
}

form input[type="date"]:valid
{
    color: black;
}

form button
{
    display: block;
    width: 100%;
    height: 55px;
    font-weight: bold;
    color: var(--background);
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 38px;
}

form input:focus, form select:focus
{
    border-color: var(--secondary);
    outline: none;
}

form select
{
    display: block;
    width: 200px;
    font-family: inherit;
    border: 2px solid black;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 10px;
    height: 55px;
    border-radius: 10px;
    text-align: center;
    transition: border-color 0.2s ease;
}

#error-message
{
    color: red;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin: 30px;
    font-weight: bold;
}