/* Styling for map */

#ReachOut .section_heading
{
    margin-top: 40px;
    margin-bottom: 20px;
}

#map
{
    margin: 40px;
    border: 2px solid black;
    border-radius: 50px;
}

#map iframe
{
    width: 100%;
    border-radius: 50px;
}