//- Home page for Clinic Flow

html
    head
        title ClinicFlow | Home

        link(rel="stylesheet", href="../static/stylesheets/home.css")
        link(rel="stylesheet", href="../static/stylesheets/map.css")

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(href="https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")

        link(rel="icon", href="../static/Others/Logo.png")

        script(src="../static/Scripts/homePage.js")
    
    body
        nav.navigation_bar
            #logo 
                a(href='/')
                    img(src="../static/Others/Logo.png", alt="ClinicFlow Logo")
            
            #navigation 
                ul#nav_buttons
                    li #[a(href='/') Home]
                    li#kyd #[a(href='/about') Know Your Doctor]
                    li #[a(href='/appointment') Appointment]
                    li #[a(href='contact') Contact]

        section.time_and_contact_info 
             #timings_and_contact 
                #timings
                    h5#time Timings: 09:30 - 13:00 and 16:00 - 20:00

                #contact 
                    h5#phone Phone: +91 9821453211


        section#dashboard 
            img#doctor_img(src="../static/Others/Doctor.png", alt="Dr Ryan D'Souza")

            #more
                .dash_content  
                    h2#name DR RYAN DSOUZA 
                    h4#tagline Carrying Hands. Healing Hearts

                .dash_buttons 
                    a(href="/about") 
                        button#LearnMore Learn More 
                    
                    a(href="/appointment") 
                        button#appointment Book an Appointment 
            
        section#services 
            h2.section_heading Services

            .cards_and_button_holder 
                .cards
                    each card in serviceCards.slice(0, 3)
                        .serviceCard
                            img(src=card.img, alt=card.heading)
                            h3.heading #{card.heading}
                            p.discription #{card.discription}

                a(href="/services")
                    button#SeeMore See More

        section#reviews 
            h2.section_heading Reviews 

            .review_cards
                button#previous_review.material-symbols-outlined.reviewButton arrow_back_ios

                .review#review1
                    .user 
                        img.user_logo#u_logo(src="", alt="Default User Logo")
                        h6.name#u_name
                        h6.location#u_location

                    .about    
                        span.stars#u_stars
                        h1.quote#startq "
                        p.comment#u_comment
                        h1.quote#endq "

                button#next_review.material-symbols-outlined.reviewButton arrow_forward_ios

        section#ReachOut 
            h2.section_heading Come Right Away 

            #map
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3848.623704771043!2d73.97692157455641!3d15.288303309871365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbfb3d585aa4a71%3A0x9b9efb42dea084a6!2sDamodar%20Arcade%2C%20Cupangale%20Society%2C%20Madgaon%2C%20Goa%20403601!5e0!3m2!1sen!2sin!4v1752148250310!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")

        footer
            #Connect
                h6#footer_connectMessage Connect To Us

                #socialIcons
                    a(href="https://wa.me/+919821453211", target='_blank') 
                        img#WhatsApp_icon(src="../static/Reach/WhatsApp.png", alt="+91 9821453211")
                    a(href="https://www.facebook.com/clinicflow_goa", target="_black")
                        img#FaceBook_icon(src="../static/Reach/FaceBook.png", alt="https://www.facebook.com/clinicflow_goa")
                    a(href="https://www.twitter.com/clinicflow_goa", target="_black")
                        img#X_icon(src="../static/Reach/X.png", alt="https://www.twitter.com/clinicflow_goa")
                    a(href="https://www.instagram.com/clinicflow_goa", target="_black")
                        img#Instagram_icon(src="../static/Reach/Instagram.png", alt="https://www.instagram.com/clinicflow_goa")

            #copyright 
                h4 Dr Ryan D'Souza | All Rights Reserved | &copy 2025