extends base.pug

append title 
    |  Appointment 

append styles 
    link(rel="stylesheet", href="../static/stylesheets/successError.css")

append scripts 
    script(src="../static/Scripts/success.js") 

block content 
    section 
        #message-holder 
            img#success-icon(src="../static/Others/Tick.png", alt="Success tick mark")
            h3 Success!
            p You will get a confirmation on your email: #[span#mail #{mail}]